:root {
  --s0: #f8fafc;
  --s1: #f1f5f9;
  --s2: #e2e8f0;
  --s3: #cbd5e1;
  --s4: #94a3b8;
  --s5: #64748b;
  --s6: #475569;
  --s7: #334155;
  --s8: #1e293b;
  --s9: #0f172a;
  --s10: #020617;
  --s11: #001;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 16px; */
  font-family: 'Jost', system-ui;
  /* color scheme */
  --bg-color: var(--s11);
  --text-color: var(--s1);
  --text-color-p: var(--s4);
}

body,
#root {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.5s ease;

  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  padding: 0 12rem;
}

.App>* {
  width: 100%;
}

header {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Clash Display', system-ui;
  font-size: 2rem;
  font-weight: 600;

  h1 {
    margin: 0;
    font: inherit;
    transition: all 0.3s ease;
    user-select: none;
    cursor: crosshair;
    position: relative;
    isolation: isolate;
  }

  h1:hover {
    -webkit-text-stroke: .75px white;
    color: transparent;
  }

  h1::after {
    content: '🌿';
    position: absolute;
    rotate: 18deg;
    bottom: 1.1rem;
    left: 8.798rem;
    z-index: -1;
  }
}

footer p {
  font-family: 'Source Code Pro', system-ui;
  color: var(--s6);
  cursor: cell;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  height: 4rem;
  margin: 0;
  user-select: none;
}

/* small mobile */
@media all and (max-width: 375px) {
  .App {
    padding: 0 2rem;
  }

  .filter-section {
    div {
      button {
        padding: 0;
        height: 50px;
      }
    }
  }
}

/* big mobile */
@media (min-width: 376px) and (max-width: 430px) {
  .App {
    padding: 0 2rem;
  }
}

/* small tablet */
@media (min-width: 431px) and (max-width: 768px) {
  .App {
    padding: 0 4rem;
  }
}

/* big tablet */
@media (min-width: 769px) and (max-width: 1024px) {
  .App {
    padding: 0 6rem;
  }
}

::selection {
  background-color: rgba(0, 255, 255, 0.9);
  color: black;
}